*,
*::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

*::before {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
   @include lexend-deca();
}
.freez{
    overflow: hidden;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}