@mixin list-styles {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin lexend-deca{
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
    color: rgba(73, 85, 103, 1);

}
@mixin center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@mixin  space-mono {
    font-family: Space Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;    
    margin: 0;
    padding: 0;
    color: rgba(73, 85, 103, 1);
}