.yellow-link {
   @include space-mono();
   text-align: center;
    text-decoration: none;
    background-color: rgba(252, 183, 43, 1);
    padding: 14px 39px;
    color: #FFFFFF;
    border: 2px solid rgba(252, 183, 43, 1);

    &:hover {
        background-color: transparent;
        color: rgba(252, 183, 43, 1);
    }
}
.get{
    @include space-mono();
    text-align: center;
    text-decoration: none;
    background-color: rgba(252, 183, 43, 1);
    padding: 14px 39px;
    color: #FFFFFF;
    border: 2px solid rgba(252, 183, 43, 1);
    &:hover {
        background-color: transparent;
        color: rgba(252, 183, 43, 1);   
    }

}

@media only screen and(max-width:$tablet) {
    .yellow-link {
        padding: 10px 25px;
    }
    .get{
        margin-left: 0;
    }
}
@media only screen and(max-width:$mobile){
    .get{
        margin-left: 33px;
    }
} 
